openai
groq
google-generativeai
mistralai
python-dotenv

langchain
langchain-openai
langchain-groq
langchain-google-genai
langchain-mistralai

fastapi
uvicorn

pydantic
requests
httpx

numpy
pandas

tiktoken

streamlit

jupyter
ipykernel
langchain_huggingface